*.swp
*.swo
*~

#ECLIPSE + PYDEV
.project
.pydevproject

.deps

.optional-deps

*.pyc
*.pyo
*.apk
.packages
python_for_android.egg-info
/build/
doc/build
__pycache__/
venv/

#idea/pycharm
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# testapp's build folder
testapps/build/

# Dolphin (the KDE file manager autogenerates the file `.directory`)
.directory
