build
*.swp
*.swo
*~
bootstrap/*/obj
bootstrap/*/local.properties
bootstrap/*/default.properties
bootstrap/*/libs/armeabi
dist
*.pyc
testsuite
.packages

#ECLIPSE + PYDEV
.project
.pydevproject

.deps

.optional-deps
