language: generic

stages:
  - unit tests
  - build testapps

services:
  - docker

before_install:
  # https://github.com/travis-ci/travis-ci/issues/6069#issuecomment-266546552
  - git remote set-branches --add origin develop
  - git fetch

jobs:
  include:
    - &unittests
      stage: unit tests
      language: python
      python: 3.7
      before_script:
        # We need to escape virtualenv for `test_pythonpackage_basic.test_virtualenv`
        #   See also: https://github.com/travis-ci/travis-ci/issues/8589
        - type -t deactivate && deactivate || true
        - export PATH=/opt/python/3.7.1/bin:$PATH
        # Update pip
        - python3.7 -m pip install --upgrade pip
        # Install tox
        - python3.7 -m pip install tox>=2.0
        # Install coveralls & dependencies
        #   Note: pyOpenSSL needed to send the coveralls reports
        - python3.7 -m pip install pyOpenSSL
        - python3.7 -m pip install coveralls
      script:
        # ignores test_pythonpackage.py since it runs for too long
        - tox -- tests/ --ignore tests/test_pythonpackage.py
      name: "Tox Pep8"
      env: TOXENV=pep8
    - <<: *unittests
      name: "Tox Python 3 & Coverage"
      env: TOXENV=py3
      after_success:
        - coveralls
    - &testapps
      name: Python 3 arm64-v8a (with numpy)
      stage: build testapps
      before_script: make docker/pull
      script: make docker/run/make/testapps-with-numpy/arm64-v8a
    - <<: *testapps
      name: Python 3 armeabi-v7a
      os: osx
      osx_image: xcode11  # since xcode1.3, python3 is the default interpreter
      before_script:
        # installs OpenJDK, Android's SDK/NDK and p4a
        - make -f ci/makefiles/osx.mk
      script: make testapps/armeabi-v7a
    - <<: *testapps
      name: Rebuild updated recipes
      script: travis_wait 30 make docker/run/make/rebuild_updated_recipes

# Deploy to PyPI using token set in `PYPI_PASSWORD` environment variable
# https://pypi.org/manage/account/token/
# https://travis-ci.org/github/kivy/python-for-android/settings
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: "__token__"
  on:
    tags: true
    repo: kivy/python-for-android
    python: 3.7
