language: generic

stages:
  - unit tests
  - build testapps

services:
  - docker

before_install:
  # https://github.com/travis-ci/travis-ci/issues/6069#issuecomment-266546552
  - git remote set-branches --add origin develop
  - git fetch

jobs:
  include:
    - &unittests
      stage: unit tests
      language: python
      python: 3.7
      before_script:
        # We need to escape virtualenv for `test_pythonpackage_basic.test_virtualenv`
        #   See also: https://github.com/travis-ci/travis-ci/issues/8589
        - type -t deactivate && deactivate || true
        - export PATH=/opt/python/3.7/bin:$PATH
        # Install tox & virtualenv
        #   Note: venv/virtualenv are both used by tests/test_pythonpackage.py
        - pip3.7 install -U virtualenv
        - pip3.7 install tox>=2.0
        # Install coveralls & dependencies
        #   Note: pyOpenSSL needed to send the coveralls reports
        - pip3.7 install pyOpenSSL
        - pip3.7 install coveralls
      script:
        # ignores test_pythonpackage.py since it runs for too long
        - tox -- tests/ --ignore tests/test_pythonpackage.py
      name: "Tox Pep8"
      env: TOXENV=pep8
    - <<: *unittests
      name: "Tox Python 2"
      env: TOXENV=py27
    - <<: *unittests
      name: "Tox Python 3 & Coverage"
      env: TOXENV=py3
      after_success:
        - coveralls
    - &testapps
      name: Python 3 arm64-v8a (with numpy)
      stage: build testapps
      before_script: make docker/pull
      script: make docker/run/make/testapps/python3/arm64-v8a
    - <<: *testapps
      name: Python 3 armeabi-v7a
      os: osx
      osx_image: xcode11  # since xcode1.3, python3 is the default interpreter
      before_script:
        # installs java 1.8, android's SDK/NDK and p4a
        - make -f ci/makefiles/osx.mk
        - export JAVA_HOME=/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home
      script: make testapps/python3/armeabi-v7a PYTHON_WITH_VERSION=python3
    - <<: *testapps
      name: Python 2 armeabi-v7a
      script: make docker/run/make/testapps/python2/armeabi-v7a
    - <<: *testapps
      name: Rebuild updated recipes
      script: travis_wait 30 make docker/run/make/rebuild_updated_recipes
