
include LICENSE README.md
include *.toml

recursive-include doc *
prune doc/build

recursive-include pythonforandroid *.py *.tmpl biglink liblink
recursive-include pythonforandroid/recipes *.py *.patch *.diff *.c *.pyx Setup *.h
    
recursive-include pythonforandroid/bootstraps *.properties *.xml *.java *.tmpl *.txt *.png *.aidl *.py *.sh *.c *.h *.html *.patch
    
prune .git
