prefix=path_to_built
exec_prefix=${prefix}
includedir=${prefix}/include
libdir=${exec_prefix}/objs/.libs

Name: freetype2
Description: The freetype2 library
Version: library_version
Cflags: -I${includedir}
Libs: -L${libdir} -lfreetype
