prefix=path_to_built
exec_prefix=${prefix}
includedir=${prefix}
libdir=${exec_prefix}/.libs

Name: libpng
Description: The png library
Version: library_version
Cflags: -I${includedir}
Libs: -L${libdir} -lpng16
