<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="test.boeh"
          android:versionCode="100"
          android:versionName="1.0"
          android:installLocation="auto"
          >

  <application android:label="@string/appName" 
               android:icon="@drawable/icon"
               >

    <activity android:name="org.renpy.android.PythonActivity"
              android:label="@string/iconName"
              android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode"
              android:launchMode="singleTask"
              android:process=":python"
              android:screenOrientation="landscape"
              android:windowSoftInputMode="stateAlwaysHidden"
            >

      
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
          

    </activity>

    
      
  </application>

  <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" /> 
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  
    
<uses-feature android:glEsVersion="0x00020000" />
</manifest> 